header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: burlywood;
}

.search-input label {
  font-weight: 700;
  font-size: larger;
}

h1 {
  text-align: center;
}

.container {
  background: linear-gradient(to bottom, rgb(0 0 0 / 0.5), rgb(0 0 0 / 0));
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  background-color: #fff;
}

.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 1rem;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}
